on:
  push:
    branches:
      - main
  pull_request:

name: Tests

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      RUSTFLAGS: ''
      CARGO_PROFILE_DEV_DEBUG: '0' # reduce size of target directory

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Build
        run: cargo build --release --all-targets

      - name: Test
        run: cargo test --release
